:root {
	--hover-color: #007bff;
}
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Modern serif", "dancing_script_otregular";
  text-shadow: 3px 3px 1px black;
  font-weight: 700;
  font-size: xx-large;
}

div.header:hover {
	/*opacity: 0.5;*/
	color: var(--hover-color);
}

.fa-star {
	color: white;
}

span.checked {
	color: orange;
}

.container {
	margin-top: 50px;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 2px solid black;
	background-color: white;
}

img.icon {
	width: 30px;
	height: 30px;
	filter: contrast(2);
}

.gallery {
	text-align: center;
	/*width: fit-content;*/
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.checkbox-col {
	width: 20px;
}

.center-content {
	place-content: center;
}

img.profile {
	width: 198px;
	height: 198px;
}

.carousel-caption {
	color: white;
	font-family: "Times New Roman", Times, serif;
  	text-shadow: 3px 3px 1px black;
  	font-size: 1.5vw;
	/*opacity: 0.2;*/
}

.carousel-item {
	width: 100%;
	height: 100%;
}

.carousel-image {
	width: 100%;
	height: 100%;
	/*max-height: 350px;
	max-width: 600px;*/
}

.carousel-inner {
	width: 100%;
	height: 100%;
}

.carousel {
	width: 100%;
    height: 100%;
}

svg {
	fill: white;
}

h3 {
	font-family: "Modern serif", "dancing_script_otregular"; 
}

h3.header {
	font-size: 3.5vw;
}

.h3-header {
	font-family: "Modern serif", "dancing_script_otregular"; 
	font-size: 3.5vw;
}

h2 {
	font-family: "Modern serif", "dancing_script_otregular";
	font-style: bold;
	font-weight: 700;
    font-size: xx-large; 
}

.col-image {
	height: 350px;
}

img.address {
	width: 100%;
	height: 100%;
}

div.address {
	width: 400px;
	height: 300px;
}

img.carousel-icon {
	filter: invert(100);
	width: 3.5vw;
	height: 3.5vw;
	margin-top: 10px;
	margin-right: 10px;
}

p.carousel-p {
	display: flex;
}

.outer-icon {
	margin-bottom: 15px;
}

a:hover {
	color: var(--hover-color);
}

/*breadcrumb section*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: inherit;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 0px 8px;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #007bff !important;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  /*text-decoration: underline;*/
}

li:hover {
	color: var(--hover-color);
}