
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Modern serif", "dancing_script_otregular";
  text-shadow: 3px 3px 1px black;
  font-weight: 700;
  font-size: xx-large;
}

div.header:hover {
	opacity: 0.5;
}

.fa-star {
	color: white;
}

span.checked {
	color: orange;
}

.container {
	margin-top: 50px;
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 2px solid black;
	background-color: white;
}

.gallery {
	text-align: center;
	/*width: fit-content;*/
	width: 430px;
	height: 300px;
	object-fit: fill;
}

.checkbox-col {
	width: 20px;
}

.center-content {
	place-content: center;
}

img.profile {
	width: 198px;
	height: 198px;
}

.carousel-caption {
	color: white;
	font-family: "Times New Roman", Times, serif;
  	text-shadow: 3px 3px 1px black;
  	font-size: 2vw;
	/*opacity: 0.2;*/
}

.carousel-image {
	width: 100%;
	height: 100%;
	/*max-height: 350px;
	max-width: 600px;*/
}

svg {
	fill: white;
}

h3 {
	font-family: "Modern serif", "dancing_script_otregular"; 
}

h2 {
	font-family: "Modern serif", "dancing_script_otregular";
	font-style: bold;
	font-weight: 700;
    font-size: xx-large; 
}